*
!app/
!bin/
!config/
config/*integration*
config/initializers/integration*
!db/
!docker/bin/
!docker/rootfs/
!lib/
!public/
public/assets*
!vendor/
!.yarnrc.yml
!config.ru
!Gemfile
!Gemfile.lock
!LICENSE*
!Makefile
!package.json
!Rakefile
!yarn.lock
