Source: xikolo-learnanalytics
Section: education
Priority: optional
Maintainer: Xikolo CI Build <xikolo-dev@hpi.uni-potsdam.de>
Standards-Version: 4.1.4
Homepage: https://openhpi.de
Build-Depends:
  coreutils,
  debhelper (>= 11),
  dh-exec,
  libcurl4,
  libpq-dev,
  libxml2-dev,
  libxslt1-dev,
  libz-dev,
  pkg-config,
  ruby2.6,
  ruby2.6-dev,
  tzdata

Package: xikolo-learnanalytics
Architecture: any
Depends:
  ${misc:Depends},
  ${shlibs:Depends},
  libcurl4,
  ruby2.6,
  tzdata,
  zip
Description: Xikolo Learn Analytics Service
 .
 TODO
