[Unit]
Description=Xikolo Learn Analytics Service - API Server
PartOf=${PACKAGE}.service

After=${PACKAGE}-unicorn.service
After=consul.service
After=network.target
After=nginx.service
Before=xikolo-active.service
Conflicts=${PACKAGE}-unicorn.service
Requires=${PACKAGE}-api.socket

[Service]
User=www-data
Group=www-data

SyslogIdentifier=${PACKAGE}-api
WorkingDirectory=/usr/lib/${PACKAGE}
RuntimeDirectory=${PACKAGE}
RuntimeDirectoryPreserve=yes

EnvironmentFile=/etc/default/${PACKAGE}
EnvironmentFile=-/etc/${PACKAGE}/env

ExecStart=/usr/bin/${PACKAGE} puma --config config/puma.production.rb --bind-to-activated-sockets=only $PUMA_ARGS
ExecStartPost=-/etc/xikolo-hook.sh ${PACKAGE} unicorn started
ExecStop=-/etc/xikolo-hook.sh ${PACKAGE} unicorn stop

Restart=on-failure
RestartSec=60s

ProtectSystem=full
PrivateTmp=true

[Install]
WantedBy=multi-user.target
