[Unit]
Description=Xikolo Learn Analytics Service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecReload=/bin/systemctl try-reload-or-restart xikolo-learnanalytics-unicorn.service
ExecReload=/bin/systemctl try-reload-or-restart xikolo-learnanalytics-sidekiq.service
WorkingDirectory=/usr/lib/xikolo-learnanalytics

[Install]
WantedBy=multi-user.target
