[Unit]
Description=Xikolo Learn Analytics Service - Background Job Processor
After=network.target
PartOf=xikolo-learnanalytics.service

[Service]
User=www-data
Group=www-data

SyslogIdentifier=xikolo-learnanalytics-sidekiq
WorkingDirectory=/usr/lib/xikolo-learnanalytics

Environment=RAILS_ENV=production
Environment=WORKER=1
Environment=CONCURRENCY=25
Environment=ARGS=
ExecStart=/usr/bin/xikolo-learnanalytics sidekiq --concurrency ${CONCURRENCY} --environment ${RAILS_ENV} ${ARGS}

Restart=on-failure
RestartSec=60s

ProtectSystem=full
PrivateTmp=true

[Install]
WantedBy=xikolo-learnanalytics.service
