[Unit]
Description=Xikolo Learn Analytics Service
After=network.target
Wants=${PACKAGE}-unicorn.service
Wants=${PACKAGE}-sidekiq.service

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
