[Unit]
Description=Xikolo Learn Analytics Service - Background Job Processor
After=network.target
PartOf=${PACKAGE}.service
ConditionPathExists=!/etc/xikolo.nobackground

[Service]
User=www-data
Group=www-data

SyslogIdentifier=${PACKAGE}-sidekiq
WorkingDirectory=/usr/lib/${PACKAGE}

EnvironmentFile=/etc/default/${PACKAGE}
EnvironmentFile=-/etc/${PACKAGE}/env

ExecStart=/usr/bin/${PACKAGE} sidekiq --queue high --queue default --timeout 80 --concurrency ${SIDEKIQ_CONCURRENCY} ${SIDEKIQ_ARGS}
ExecStartPost=-/etc/xikolo-hook.sh ${PACKAGE} sidekiq started
ExecStop=-/etc/xikolo-hook.sh ${PACKAGE} sidekiq stop
ExecStop=/bin/kill -TERM $MAINPID
TimeoutStopSec=90s

Restart=on-failure
RestartSec=60s

ProtectSystem=full
PrivateTmp=true

[Install]
WantedBy=multi-user.target
