[Unit]
Description=Xikolo Learn Analytics Service - API Server
After=network.target
After=nginx.service
After=consul.service
Requires=nginx.service
Before=xikolo-active.service
PartOf=${PACKAGE}.service

[Service]
User=www-data
Group=www-data

SyslogIdentifier=${PACKAGE}-unicorn
WorkingDirectory=/usr/lib/${PACKAGE}
RuntimeDirectory=${PACKAGE}
PIDFile=/run/${PACKAGE}/unicorn.pid

EnvironmentFile=/etc/default/${PACKAGE}
EnvironmentFile=-/etc/${PACKAGE}/env

ExecStart=/usr/bin/${PACKAGE} unicorn --config-file config/unicorn.rb --pid /run/${PACKAGE}/unicorn.pid --listen /run/${PACKAGE}/sock ${UNICORN_ARGS}
ExecStartPost=-/etc/xikolo-hook.sh ${PACKAGE} unicorn started
ExecReload=/bin/kill -USR2 $MAINPID
ExecStop=-/etc/xikolo-hook.sh ${PACKAGE} unicorn stop
ExecStop=/bin/kill -QUIT $MAINPID

Restart=on-failure
RestartSec=60s

ProtectSystem=full
PrivateTmp=true

[Install]
WantedBy=multi-user.target
