
<div data-lanalytics-resource='{"type": "SomeThing", "uuid": "1231231231231231231232"}'>
  <p>Press to create an event</p>
  <button data-lanalytics-event='{"verb": "DoSomething"}'>Press here to create an event</button>
</div>
