<!-- <h1>Your Research Cases</h1> -->

<div class='row'>
  <% #@research_cases.in_groups_of(3, false) do | three_research_cases | %>
    <% @research_cases.each do | research_case | %>
      <div class="col-md-4">
        <%= render research_case %>
      </div>
    <% end %>
  <% #end %>
</div>


<%= link_to 'New Research case', new_research_case_path %>
