<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @research_case.title %>
</p>

<%= link_to 'Edit', edit_research_case_path(@research_case) %> |
<%= link_to 'Back', research_cases_path %>
